<div id="news_choice_container" class="row">
    <div class="col-md-2">
        <select id="news_source_choices">
            <option value="default">Select One</option>
        </select>
        <button type="button" id="clear_button">Clear News Board</button>
    </div>

    <div class="col-md-10">
        <ul id="selected_sources"></ul>
    </div>
</div>

<div id="all_story_container" class="row">
</div>

<script type="text/javascript" src="/js/get-news.js"></script>
