<div id="news_choice_container" class="row">
    <div class="col-md-2">
        <select id="news_source_choices">
            <option value="default">Select One</option>
        </select>
    </div>

    <div class="col-md-10">
        <ul id="selected_sources"></ul>
    </div>
</div>
<div class="row">
    <div id="espn" class="col-md-3"><h1 class="title">ESPN</h1></div>
    <div id="ars-technica" class="col-md-3"><h1 class="title">Ars Technica</h1></div>
    <div id="cnn" class="col-md-3"><h1 class="title">CNN</h1></div>
    <div id="recode" class="col-md-3"><h1 class="title">ReCode</h1></div>
</div>

<script type="text/javascript" src="/js/get-news.js"></script>
