.story_image_format {
    height: 100px;
    width: 100px;
    border-radius: 2%;
}
a {
    text-decoration: none;
    color: #494949;
}
a:hover {
    text-decoration: none;
    color: #494949;
}
.title {
    text-decoration: underline;
    color: #233B49;
}
div[name="story_div"] {
    border: solid #404040 1px;
    margin: 40px;
    padding: 5px;
    background-color: #E5E5E5;
}
h1 {
    text-align: center;
}
body {
    background-color: #D7D7D7
}
i[name="collapse_me"] {
    margin-left: 45px;
    height: 40px;
    font-size: 30px;
    position: relative;
    left: 0;
    bottom: 0;
}
#selected_sources {
    display: none;
}
li {
    list-style-type: none;
}
