.story_image_format {
    height: 100px;
    width: 100px;
    border-radius: 2%;
}
a {
    text-decoration: none;
    color: #494949;
}
a:hover {
    text-decoration: none;
    color: #494949;
}
.title {
    text-decoration: underline;
    color: #233B49;
}
div[name="story_div"] {
    border: solid #404040 1px;
    
    background-color: #E5E5E5;
}
h1 {
    text-align: center;
}
body {
    background-color: #D7D7D7
}
div[name="story_container"] {
    position: relative;
    margin: 40px;
    padding-left: 40px;
}
i[name="collapse_me"] {
    margin-left: -45px;
    font-size: 30px;
    position: relative;
    top: 40px;
}
i[name="collapse_me"]:hover {
    cursor: pointer;
}
#selected_sources {
    display: none;
}
li {
    list-style-type: none;
}
