<div class="row">
    <div class="col-md-6">
        <ul id="viewed_selected_sources"></ul>
    </div>

    <div type="hidden" class="col-md-6">
        <ul id="selected_sources"></ul>
    </div>
</div>
